.main .pro{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(450px,1fr));
    gap: 20px;
}
@media (max-width: 767px){
    .main .pro{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(250px,1fr));
        gap: 20px;
    }
}
@media (min-width: 625px) and (max-width: 767px){
    .main .pro{
        display: grid;
        grid-template-columns: repeat(auto-fill,minmax(350px,1fr));
        gap: 20px;
    }
}
.main .pro > div{
    position: relative;
    padding: 20px;
    background-color: white;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}
.main .pro > div > span{
    position: absolute;
    right: 10px;
    top: 10px;
    color: var(--grey-color);
    font-size: 13px;
}
.main .pro > div h4{
    font-weight: 500;
    margin-bottom: 10px;
}
.main .pro > div p{
    font-size: 14px;
    color: var(--grey-color);
}
.main .pro div .one {
    position: relative;
    margin: 25px 0px 45px;
    padding: 15px 0px;
}
.main .pro div .one img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid white;
    position: absolute;
    left: 0px;
}
.main .pro div .one img:nth-child(2){
    position: absolute;
    left: 25px;
}
.main .pro div .one img:nth-child(3){
    position: absolute;
    left: 50px;
}
.main .pro div .one img:nth-child(4){
    position: absolute;
    left: 75px;
}
.main .pro div .one img:nth-child(5){
    position: absolute;
    left: 100px;
}
.main .pro div .one img:hover{
    z-index: 100;
}
.main .pro div .two{
    padding: 15px 0px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: flex-end;
    gap: 5px;
}
@media(max-width:767px){
    .main .pro div .two{
        flex-direction: column;
        justify-content: flex-start;
        gap: 15px;
    }
    .main .pro div .two span{
        width: fit-content;
    }
}
.main .pro div .two span{
    padding: 4px 10px;
    background-color: #eee;
    border-radius: 6px;
    font-size: 13px;
}
.main .pro div .three {
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media(max-width:767px){
    .main .pro div .three{
        flex-direction: column;
        justify-content: center;
        gap: 15px;
    }
}
.main .pro div .three div{
    height: 8px;
    width: 250px;
    border-radius: 6px;
    background-color: #eee;
}
.main .pro div .three div div{
    height: 100%;
    background-color: var(--green-color);
    border-radius: 6px;
    position: relative;
}
.main .pro div:nth-child(1) .three div div,
.main .pro div:nth-child(6) .three div div{
    background-color: var(--red-color);
}
.main .pro div:nth-child(3) .three div div{
    background-color: var(--blue-color);
}